.nav{
  background-color: black;
  color: #A5D81F;
  padding: 5px;
  margin: 0;
  text-align: center;
  border-bottom: 10px solid #A5D81F;
}

.link{
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

button{
  padding: 10px;
  border-radius: 50%;
  background-color: #A5D81F;
}

a{
  text-decoration: solid;
  color: white;
}

button :visited :hover {
  color: #A5D81F;
}



