.html {
  border: 10px solid black;
}

.welcome{
  background-color: rgb(60, 161, 60);
  color: black;
  padding: 5px;
  margin: 0;
  text-align: center;
}

.link{
  background-color: rgb(60, 161, 60);
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

button{
  padding: 10px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: rgb(60, 161, 60);
}

a{
  text-decoration: solid;
  color: black;
}
